

body { /* We can style any HTML element by using its name - here we're styling the body */
  /* We want text that uses a clean sans-serif font, is usually 16px big and close to black */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #040504;
  line-height: 1.6;
  /* we want a white page, that's centered and not too wide */
  background-color: #f3f3e1;
  margin:0 auto;
  max-width: 800px;
  padding-top: 60px;
}


/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #666;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}

/* We want the headings to be a little bigger than the paragraph text */
.big { /* This is the class we created in the HTML file, you can use it to style any element */
  font-size: 2.5em;
}

h2 {
  font-size: 1.75em;
}

.small {
  font-size: 1.25em;
}

/* Paragraph */
p {
  margin-bottom: 2em;
  font-weight: 300;
}

section {
  margin-bottom: 8em;
}

a {
  color: #f0101b;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}
  
img {
  max-width: 100%;
  height: auto;
}

